@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&family=Lobster&display=swap');

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    margin: 0;   
    font-family: 'Heebo', sans-serif;
    padding: 0;
}

/*--------------NAVBAR---------------*/

.navbar{
    font-weight: 400;
    padding: 0px;
    font-size: 18px;
    letter-spacing: .1rem;
    overflow: hidden;  
}
.navbar-brand:hover{
    color: #000000;
    transition: 0.5s;
}
.nav-item{
    margin: 10px;
}
div#navbarDropdown.collapse.navbar-collapse{
    justify-content: center;
}

.navbar.navbar-expand-sm.navbar-dark{
    display: block;
    margin-bottom: 40px;
}
.nav-menu{
    color: #fafafa;
    font-weight: 700;
    background-color: transparent;
    text-decoration: none;
}
.nav-menu:hover{
    color: #000000;
    transition: 0.5s;
}
a.navbar-brand{
    font-size: 35px;
    letter-spacing: .2rem;
    color: #fafafa;
    margin: 0 50px;
    padding-top: 100px;
    font-family: 'Lobster', cursive;
    font-weight: 300;
}
.shortbar{
   color: #fafafa;
   margin: 0px;
}
.lead {
    color: #fafafa;
    font-size: 12px;
    font-weight: 300;
    margin-left: 90px;
    letter-spacing: .2em;
}
.nav-item::marker{
    color:transparent;
}

/*--------------ABOUT US---------------*/

.container.pic{
    margin-bottom: 100px;
}
.row.about{
    color: #000000;
    padding: 5px 5px;
    border-radius: 1%; 
}
div.col-sm-12.col-lg-6{
   color: #fafafa;
}
h5.head-story{
    background-color: #fafafa59;
    opacity: 0.8;
    color: #000000;
    padding: 5px 5px;
    text-align: center;
}   
p.story{
    background-color:#fafafa59;
    color: #000000;
    font-weight: 300;
    opacity: 0.8;
    padding: 10px;
}
.shortbar.about{
    color: #000000;
    margin: 0 100px;
}

/*--------------CONTACT---------------*/

div.box{
    font-size: 18px;
    font-weight: 300;
    margin: 50px;
}
.col-sm-12.col-lg-6{
    display: block;
}
.contactForm {
    background: #000000;
    padding: 15px;
    opacity: 0.7;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 350px;
    margin-right: 50px;
}
.contactForm .inputBox {
    width: 320px;
}
.contactForm .submit {
    margin-top: 10px;  
    color: #fafafa;
    background:  #000000;
}
.contactForm .inputBox input {
    width: 100%;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}
.contactForm .inputBox textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}
.contactForm .inputBox span {
    color: #fafafa;
    font-size: 18px;
    background-color: #000000;
}
.contactForm .submit button.btn:hover {
    color: #000000;
}
.btn.btn-outline-light{
    margin: 0 120px;
}

/*--------------FOOTER---------------*/
.fixed-bottom {
    background-color: #000000;
    opacity: 0.8;
    padding: 0;
}
.social-link{
    color: #fafafa;
}
.flex-box{
    display: flex;
	flex-direction: row;
    align-items: center;
    letter-spacing: 10px;
    font-size: 30px;
    margin: 0;
}
li.item::marker{
    color: transparent;
    font-size: 18px;
}
.social{
    margin-left: 35px; 
    margin-top: 5px;
    font-size: 18px;
    color: #fafafa;
}
a.social-link:hover{
    color: rgba(179, 179, 179, 0.616);
    transition: 0.3s;
}
.copyright{
    margin: 0px;
    font-size: 12px;
    letter-spacing: 2px;
    align-items: center;
    font-weight: 700;
}

/*--------------CAROUSEL---------------*/

img{
    max-height: 540px;
}
.slideshow-container{
    max-width: 1000px;
    margin: auto;
    position: relative;
}
.mySlides{
    display: none;
    height: 500px;
}
.prev, .next{
    position: absolute;
    top: 50%;
    width: auto;
    color: #000000;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    transition: 3s ease;
    border-radius: 10%;
    user-select: none;
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    background-color: #000000;
    color: #fafafa;
}
.text {
    width: 100%;
    color: #fafafa;
    font-size: 20px;
    padding: 2px 2px;
    position: absolute;
    text-align: center;
    bottom: 15px;
}
.dot{
    height: 14px;
    width: 14px;
    margin: 2px 2px;
    background-color: #fafafa;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}
.active, .dot:hover{
    background-color: #000000;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (min-width: 320px) {
.text {
    font-size: 14px;
}
div.dot-p{
    margin-bottom: 150px;
}
div.slideshow-container{
    height: 220px;
}
}
@media only screen and (min-width: 760px) {
.text {
    font-size: 30px;
}
div.dot-p{
    margin-bottom: 150px;
}
div.slideshow-container{
    height: 450px;
}
}
@media only screen and (min-width: 920px) {
.text {
    font-size: 30px;
}
div.dot-p{
    margin-bottom: 150px;
}
div.slideshow-container{
    height: 450px;
}
}

/*--------------THINGS TO DO---------------*/

#map-wrapper {
	margin: 2.5em auto;
	max-width: 960px;
	overflow: hidden;
}
#places {
	margin: 0;
	padding: 0;
	list-style: none;
	float: center;
	width: 100%;
}

#places li {
	display: block;
	margin-bottom: 1em;
	padding-bottom: 4px;
	border-bottom: 1px solid #fafafa;
}
#places li.selected {
	background: #fafafa;
	padding: 0.8em;
}
#map {
	float: right;
	width: 100%;
	height: 380px;
}
@media screen and (max-width: 768px) {
	#places, #map {
		float: none;
		width: auto;
		margin-bottom: 1em;
	}
	#places {
		text-align: center;
	}
	#map {
		width: 100%;
	}
}