@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&family=Lobster&display=swap');

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    margin: 0;   
}

/*--------------Navbar---------------*/

.contact-info{
    color: #2c8614;
    font-size: 20px;
    background-color:#ffffff;
    opacity: 0.7;
    text-align: end;
    font-weight: 100;
}
.info{
    letter-spacing: 1px;   
    font-weight: 500;
    padding: 0;
    margin-right: 10px;
}
.navbar{
    font-weight: 400;
    padding: 0px;
    font-size: 18px;
    letter-spacing: .1rem;
}
.nav-menu{
    color: #fafafa;
    font-weight: 500;
    align-items: center;
    text-align: center;
}
a.navbar-brand{
    font-size: 35px;
    letter-spacing: .2rem;
    color: #fafafa;
    margin: 0 50px;
    padding-top: 100px;
    font-family: 'Lobster', cursive;
    font-weight: 300;
}
.shortbar{
   color: #fafafa;
   margin: 0px;
}
.lead {
    color: #fafafa;
    font-size: 12px;
    font-weight: 300;
    margin-left: 90px;
    letter-spacing: .2em;
}
li.nav-item::marker{
    color:transparent;
}

/*--------------ABOUT US---------------*/
div#map{
    min-height: 360px;
}
/*--------------CONTACT---------------*/
.contactForm {
    background: #000000;
    padding: 15px;
    opacity: 0.7;
    border-radius: 10px;
    width: 400px;
    margin: 20px 200px;
}
.contactForm .inputBox {
    width: 350px;
    margin: 10px;
}
.contactForm .submit {
    margin-top: 10px;  
    margin-left: 40%;
    color: #fafafa;
}
.contactForm .inputBox input {
    width: 100%;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}
.contactForm .inputBox span {
    color: #fafafa;
    font-size: 18px;
    background-color: #000000;
}
.contactForm .submit {
   background:  #000000;
}
.contactForm .submit button.btn:hover {
    color: #000000;
}
/*--------------FOOTER---------------*/
.fixed-bottom {
    background-color: #000000;
    opacity: 0.8;
    padding: 0;
}
.social-link{
    color: #fafafa;
}
.flex-box{
    display: flex;
	flex-direction: row;
    align-items: center;
    letter-spacing: 10px;
    font-size: 30px;
    margin: 0;
}
li.item::marker{
    color: transparent;
}
.social{
    margin-left: 35px; 
    margin-top: 5px;
    font-size: 18px;
    color: #fafafa;
}
.copyright{
    margin: 0px;
    font-size: 12px;
    letter-spacing: 2px;
    align-items: center;
    font-weight: 700;
}
/*--------------IMAGES---------------*/

.spa{
    margin-top: 50px;
    margin-left: 500px;
}

.roomview{
    background-image: url(assets/images/mix-img/andreas-schantl.jpg);
    width: 250px;
    border-radius: 50%;
    height: 250px;
    border: 3px solid #fafafa;
    background-attachment: scroll;
}




h1{
  font-size: 45px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color:black;
  margin-bottom: 40px;
  color: #000;
  text-shadow: 0 2px 3px #555555;
  font-family: Tahoma;
}


.container{
  width: 100%;
  margin: 0 auto;
  margin-top:50px;
}

#map_container{
  position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}