@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&family=Lobster&display=swap');

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    margin: 0;   
    font-family: 'Heebo', sans-serif;
}

/*--------------Navbar---------------*/

.navbar{
    font-weight: 400;
    padding: 0px;
    font-size: 18px;
    letter-spacing: .1rem;
    overflow: hidden;
    text-decoration: underline;
    
}
.nav-item{
    margin: 10px;
}
div#navbarDropdown.collapse.navbar-collapse{
    justify-content: center;
}
                /*--------------DROPDOWN BUTTON W3SCHOOLS INSPIRED---------------*/
button.dropbtn{
    color: #fafafa;
    font-weight: 700;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
}

.navbar a:hover, .dropdown:hover button.dropbtn {
    color: #000000;
}

.dropdown-content {
    display: none;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: underline;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 700;
}

.dropdown-content a:hover {
    background-color: #000000;
    opacity: 0.8;
    -webkit-text-fill-color: #fafafa;
    transition: 0.3s;
    border-radius: 2%;
}
.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.3s;
}

                /*--------------DROPDOWN BUTTON---------------*/

.navbar.navbar-expand-sm.navbar-dark{
    display: block;
}
.nav-menu{
    color: #fafafa;
    font-weight: 700;
    background-color: transparent;
    text-decoration: none;
}
a.navbar-brand{
    font-size: 35px;
    letter-spacing: .2rem;
    color: #fafafa;
    margin: 0 50px;
    padding-top: 100px;
    font-family: 'Lobster', cursive;
    font-weight: 300;
}
.shortbar{
   color: #fafafa;
   margin: 0px;
}
.lead {
    color: #fafafa;
    font-size: 12px;
    font-weight: 300;
    margin-left: 90px;
    letter-spacing: .2em;
}
.nav-item::marker{
    color:transparent;
}

/*--------------ABOUT US---------------*/

.container.pic{
    margin-bottom: 100px;
    opacity: 0.9;
}
.row.about{
    background-color: #fafafa;
    color: #000000;
    padding: 30px 40px;
}
.shortbar.about{
    color: black;
    margin: 0 100px;
}

div#map{
    min-height: 350px;
    max-width: 100%;

}
/*--------------CONTACT---------------*/
.contactForm {
    background: #000000;
    padding: 15px;
    opacity: 0.7;
    border-radius: 10px;
    width: 400px;
    margin: 20px 200px;
}
.contactForm .inputBox {
    width: 350px;
    margin: 10px;
}
.contactForm .submit {
    margin-top: 10px;  
    margin-left: 40%;
    color: #fafafa;
}
.contactForm .inputBox input {
    width: 100%;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}
.contactForm .inputBox span {
    color: #fafafa;
    font-size: 18px;
    background-color: #000000;
}
.contactForm .submit {
   background:  #000000;
}
.contactForm .submit button.btn:hover {
    color: #000000;
}

/*--------------FOOTER---------------*/
.fixed-bottom {
    background-color: #000000;
    opacity: 0.8;
    padding: 0;
}
.social-link{
    color: #fafafa;
}
.flex-box{
    display: flex;
	flex-direction: row;
    align-items: center;
    letter-spacing: 10px;
    font-size: 30px;
    margin: 0;
}
li.item::marker{
    color: transparent;
}
.social{
    margin-left: 35px; 
    margin-top: 5px;
    font-size: 18px;
    color: #fafafa;
}
.copyright{
    margin: 0px;
    font-size: 12px;
    letter-spacing: 2px;
    align-items: center;
    font-weight: 700;
}
/*--------------IMAGES---------------*/

.spa{
    margin-top: 50px;
    margin-left: 500px;
}

.roomview{
    background-image: url(assets/images/mix-img/andreas-schantl.jpg);
    width: 250px;
    border-radius: 50%;
    height: 250px;
    border: 3px solid #fafafa;
    background-attachment: scroll;
}

/*--------------CAROUSEL---------------*/

img{
    max-height: 540px;
    border-radius: 2%;
}
.slideshow-container{
    max-width: 1000px;
    margin: auto;
    position: relative;
}
.mySlides{
    display: none;
    height: 500px;
}
.prev, .next{
    position: absolute;
    top: 50%;
    width: auto;
    color: #000000;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    transition: 3s ease;
    border-radius: 10%;
    user-select: none;
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    background-color: #000000;
    color: #fafafa;
}
.text {
    width: 100%;
    color: #fafafa;
    font-size: 20px;
    padding: 2px 2px;
    position: absolute;
    text-align: center;
    bottom: 15px;
}
.dot{
    height: 14px;
    width: 14px;
    margin: 2px 2px;
    background-color: #fafafa;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}
.active, .dot:hover{
    background-color: #000000;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

